body {
    font-family: Kanit, sans-serif;
    background-color: white;
    text-align: center;
    color:rgb(57, 61, 61);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    font-size:150%;
    text-decoration:none;
    color:brown;
}

.title2 {
    font-size:250%;
    font-weight: bold;
}

/** Start text and condition to win **/

#start-text {
    background-color: rgb(0, 0, 255, 0.2); 
    margin: 10px 0;
    border: 5px solid grey;
    border-radius:25px;
}


.startp {
    font-weight: bold;
    font-size:150%;
}



/** Game area **/

#game-area {
    height:550px;
    width:100%;
    margin: 0;
}

.game-board {
    position:relative;
    width:45%;
    height:100%;
    border: 5px solid grey;
    border-radius:25px;
}

.player-board {
    float:left;
    background-color: rgb(127,255,132, 0.3);
    margin-left: 5em;
}

.computer-board {
    float:right;
    background-color: rgb(255,0,0, 0.3);
    margin-right: 5em;
}

/** style for easy mode**/

.easy {
    width:225px;
    height:225px;
}

.easy:hover {
    transform:scaleX(-1);
}

.rock-div1 {
    position:absolute;
    top:20%;
    left:20%;
}

.paper-div1 {
    position:absolute;
    top:20%;
    left:60%;
}

.scissors-div1 {
    position:absolute;
    top:55%;
    left:40%;
}

/** Style for hard mode **/

.hard {
    height:135px;
    width: 135px;
}

.rock-div2{
    position:absolute;
    top:20%;
    left:30%;
}

.paper-div2{
    position:absolute;
    top:20%;
    left:60%;
}

.scissors-div2{
    position:absolute;
    top:50%;
    left:65%;
}

.lizard-div{
    position:absolute;
    top:70%;
    left:45%;
}

.spock-div{
    position:absolute;
    top:50%;
    left:20%;
}


/** Player and computer scores **/

.score {
    font-size: 150%;
}

#player-score-number {
    color: green;
}

#computer-score-number {
    color: red;
}

#player-score {
    float:left;
    clear:left;
    padding-left: 23%;
}

#computer-score {
    float:right;
    padding-right: 23%;
}